ULIMSWcfClient/Service References/ULIMSGISServiceRef/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcf.ulims.com.na" elementFormDefault="qualified" targetNamespace="http://wcf.ulims.com.na" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExecutePythonCodeMethod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutePythonCodeMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecutePythonCodeMethodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>